@charset "UTF-8";
/*mobile first*/
:root{
    --cor1:#164773;
    --cor2:#0B2B40;
    --cor3:#1E5959;
    --cor4:#3B8C6E;
    --cor5:#89D99D;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#BCC5CE,#729599);
    background-attachment: fixed;
    height: 100vh;
   }
   header{
    margin-top: -17px;
   }
   header > h1{
    height:50px ;
       color: white;
       text-align: center;
       background-image: linear-gradient(to bottom,#2b8888,#328d6c);
       background-attachment: fixed;
       padding-top: 15px;
       font:bolder arial
   }
   main{
    background-color: white;
    font: bold 16px arial;
    width: 286px;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.356);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px ;
   }
   h2{
    font-size: 18px;
    margin-left: -20px;
   }
   #primero p{
    margin: 10px 0px 10px -25px;
    font:bold 15px arial;
   }
   article img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: -20px;
   } 
   main>h2{
    padding: 5px;
    margin-bottom: 3px;
   }
   main article{
    margin-bottom: 5px;
   text-align: justify;
   text-indent: 10px;
   font: 18px;
}
#objetivo{
   
    margin-left: -15px;
    line-height: 20px;
    font:normal 16px arial;
    text-align: justify;
}
.cursando{
    margin-left: -16px;
    padding: 10px;
    font: bold 17px arial
    
}
#formação{
    margin-top: 8px;
    margin-bottom: 0px;
}
.instituição{
    color: black;
    text-align: justify;
    font: 17px arial
}
#ingleis{
    padding: 4px;
       font: 16px arial;
}
       p>a{
        text-decoration: none;
        color: #6ead7e
    }
    p>a:visited{
        color: #31775d
    }
    p>a:hover{
        color: #164773;
        text-decoration: underline;
    }
    p>a:active{
        color: #164773
    }
    .novo{
        margin-top: 4px;
        padding-bottom: 6px;
    }
    .experiencia{
        font: 14px arial;
        margin: 5px 0px 8px ;
    }

    section{
        width: 100%;
    }
    @media screen and (min-width:320px) and (max-width:369px) {
        main{
            width:230px;
        }
        h2{
            font-size: 16px;
        }
        .cursando{
            margin-left: -16px;
            padding: 10px;
            font: bold 16px arial
            
        }
    }
    @media screen and (min-width:370px) and (max-width:399px) {
   
        main{
            width: 290px;
        }
   
   
    }
    @media screen and (min-width:400px) and (max-width:440px){
        main{
            width: 318px;
        }   
        section{
            width: 338px;
        }
        
    }
    @media screen and (min-width:441px) and (max-width:480px) {
        main{
            width: 350px;
        } 
        section{
            width: 338px;
        }
    }
    