@charset "UTF-8";

 @media screen and (min-width: 769px) {
    /*dektop*/
    header > h1{
        height:70px ;
           padding-top: 20px;
           font:bolder arial;
       }
       main{
        font: bold 16px arial;
        width: 700px;
        padding: 30px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.356);
        border-bottom-left-radius:10px ;
        border-bottom-right-radius: 10px ;
        
       }
       article img{
        width: 150px;
        height: 150px;
        border-radius: 100%;
       } 
       #primero p{
        margin: 10px 0px 10px -30px;
        font:bold 18px arial;
       }

    h2{
        font-size: 23px;
       }
       #objetivo{
        line-height: 28px;
        font:normal 20px arial;
    }
    .instituição{
        color: black;
        text-align: justify;
        font: 20px arial
    }
    .cursando{
        margin-left: -16px;
        padding: 10px;
        font: bold 22px arial
        
    }
    #ingleis{
        font: 20px arial;
    }
    .experiencia{
        font: 18px arial;
    }
 }
